.addExpensePanel {
    padding: 10px;
}

.form {
    text-align: center;
    vertical-align: middle;
    margin: 2px auto;
    padding: 5px 5px;
    width: 100%;
    background: #e0e0e0;
    border-radius: 10px;

}

.editorContainer {
    height: auto;
    vertical-align: middle;
    padding: 5px;
}

.editorContainer div, tr, td {
    margin: 2px;
}

.lable {
    font-size: 25px;
    font-family: Arial;
}

.addingExpenseContainer {
    margin: auto;
}