.oog {
    height: 400px;
}

.scrollPanel {

    height: 370px;
    width: 200px;

}

.decoratorPanel {
    padding: 10px;
    margin: auto;
}

.cellTreeDecoratorPanel {
    padding: 10px;
    margin: auto;
}

.CellTreeScrollPanel {
    height: 370px;
    width: 300px;
}