.headdistance {

    width: 100%;
    height: 200px;

}

.container {

    height: auto;
    width: 332px;
    background: #c7e5eb;
    margin: auto;
}

.verticalPanel {
    width: 100%;
    height: auto;
}

.mainPanel {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.header {
    padding-top: 133px;
    margin: auto;
    width: 332px;
    height: auto;
    background: url("/resources/images/Signup.png");
    border-radius: 10px;
}

.formContainer {

    border: none;
    background: none;
}

.background {

    background: #c7e5eb;
    margin: auto;
    height: auto;
    width: 332px;
    /*border-radius: 10px;*/
}

.button {
    margin: 4px;
}