.mainDockLayoutPanel {
    overflow: visible;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.htmlStackPanelContainer {
    border: 1px #191970;
    margin: 5px;
    padding: 5px;
}

.stackPanel {
    width: auto;
    height: 400px;
}

.navHTML {
    width: auto;
    height: auto;
    padding: 4px;
    margin: 4px;
}

.centerHTMLPanel {
    /*border-width: 1px;*/
    /*border-style: solid;*/
    overflow: visible;
    width: auto;
    height: auto;
    padding: 4px;
}

.centerScrollPanel {
    height: 600px;
}

.leftnavigation {
    border: 2px black;
    width: 19%;
    height: auto;
    padding: 5px;
    margin: 5px;
    float: left;
}

.center {
    border: 2px black;
    width: 75%;
    height: auto;
    padding: 5px;
    margin: 5px;
    float: right;
}

.head {
    height: 100px;
}

.mainScrollPanel {
    height: 600px;
    width: 100%;
}

.mainPanel {
    overflow: scroll;
}

.menu {
    width: 100%;
    height: 80px;
    background:url("resources/images/navigation_backgournd.png");
}